	<!--Modified by Ayesha Taqdees for ASQ 3.0--> 
<div class="animated fadeInDown">
	<!-- Header -->
	<div ng-include="'partials/header.html'"></div>


	
	<div class="content">
		<div class="container" style="text-align: center;">
			<!-- Content -->
			<h3 class="greeting">Administrator! </h3>
			
			<div class="row actions">
				<div class="col-md-4">
					<a href="/userInfo"><button class="btn tile tile-blue"><span class="customSpan">
					<i class="fa fa-users"></i> User Management</span></button></a>
				</div>
				<div class="col-md-4">
					<a href="/questionInfo"><button class="btn tile tile-purple"><span class="customSpan">
					<i class="fa fa-question-circle"></i> Question Management</span></button></a>
				</div>
				<div class="col-md-4">
					<a href="/examInfo"><button class="btn tile tile-yellow"><span class="customSpan">
					<i class="fa fa-graduation-cap"></i> Exam Management</span></button></a>
				</div>
			</div>
			<hr>
		</div>
	
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: center" class="copy">
						<h5>ASQ CSQE Virtual Exam & Practice</h5>
						<p>&copy; <a href="/about">2015 Big Bang ASQ Exam</a></p>
						<p>Questions Provided by <a href="http://www.qualitycouncil.com/CSQE.html" target="_blank">Quality Council of Indiana</a> and by <a href="http://www.westfallteam.com/quiz_listing" target="_blank">Linda Westfall</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>
	</div>