<!-- 
 @date : 03/15/2016
 @author : Ayesha Taqdees
 @description : Created for ASQ 3.0 
 -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9"
			aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>				</button>
			<a class="navbar-brand" href="#">ASQ 3.0</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Signup</a></li>
			</ul>
		</div>
	</div>
</nav>


<h1>Welcome to ASQ 3.0</h1>